<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="28WattApp.styles.css" />
    <link rel="stylesheet" href="style.css" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="responsive.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
   @*  <script src="assets/vendor/swiper/swiper.js"></script> *@
    <script src="~/swiper.js"></script>
</body>
<style>
    body {
        font-family: 'Inter', sans-serif;
        color: #212529;
        font-size: 14px;
    }

    .section-title {
        text-align: center;
        padding-bottom: 30px;
    }

        .section-title h2 {
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 0;
            line-height: 1px;
            margin-bottom: 15px;
            color: #3D70FF;
        }

        .section-title p {
            padding-bottom: 15px;
            margin-bottom: 15px;
            position: relative;
            font-size: 40px;
            font-weight: 700;
            color: #4e4039;
        }

            .section-title p::after {
                content: "";
                position: absolute;
                display: block;
                width: 60px;
                height: 2px;
                background: #3d70ff;
                bottom: 0;
                left: calc(50% - 30px);
            }

    .star_part i {
        font-size: 26px;
    }

    .checked {
        color: #FFAA05;
    }
    .main{
        margin-top: 20px;
    }

    .faq {
        padding: 60px 0;
    }

        .faq .faq-list {
            padding: 0;
            list-style: none;
        }

            .faq .faq-list li {
                border-bottom: 1px solid #eae7e5;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }

            .faq .faq-list .question {
                display: block;
                position: relative;
                font-family: #3D70FF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                font-weight: 600;
                padding-left: 25px;
                cursor: pointer;
                color: #3D70FF;
                transition: 0.3s;
            }

            .faq .faq-list i {
                font-size: 16px;
                position: absolute;
                left: 0;
                top: -2px;
            }

            .faq .faq-list p {
                margin-bottom: 0;
                padding: 10px 0 0 25px;
                font-size: 14px;
            }

            .faq .faq-list .bi-plus-lg {
                display: none;
            }

            .faq .faq-list .collapsed {
                color: #343a40;
            }

                .faq .faq-list .collapsed:hover {
                    color: #3D70FF;
                }

                .faq .faq-list .collapsed .bi-plus-lg {
                    display: inline-block;
                    transition: 0.6s;
                }

                .faq .faq-list .collapsed .bi-dash-lg {
                    display: none;
                    transition: 0.6s;
                }

    .goals-form-btn a {
        background-color: #3D70FF;
        font-size: 14px;
        font-weight: 700;
        border: none;
    }

        .goals-form-btn a:hover {
            background-color: #3D70FF;
        }

        .goals-form-btn a i {
            display: inline-block;
            transition: 0.3s ease-in;
        }

    .goals-form-btn i {
        margin-right: 8px;
    }

    .goals-form-btn a:hover i {
        transform: translateX(50%);
    }
</style>
</html>
