<section id="about" class="about">
    <div class="container about_bg" data-aos="fade-up">
        <div class="section-title">
            <h2>A quick introduction</h2>
            <p>About 28Watt</p>
        </div>
        <div class="row">
            <div class="col-md-9 about_box_leftpart">
                <p>
                    It is our mission to make sustainable home upgrades as easy as possible and improve Australian homes to an energy efficiency
                    rating of at least seven stars.
                </p>
                <p>To achieve this, we need to reduce the average energy consumption to 28kWh per square meter.</p>
                <p>We are working on this passionately every day, with a team of experts in construction, technology, and sustainability.</p>
                <a href="" class="btn btn-primary rounded-pill"><i class="bi bi-arrow-right"></i>Read more</a>
            </div>
            <div class="col-md-3">
                <img src="assets/image/AboutBox.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<style>
    .section-title {
        text-align: center;
        padding-bottom: 30px;
    }
    .section-title h2 {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 0;
        line-height: 1px;
        margin-bottom: 15px;
        color: #3D70FF;
    }

    .section-title p {
        padding-bottom: 15px;
        margin-bottom: 15px;
        position: relative;
        font-size: 40px;
        font-weight: 700;
        color: #4e4039;
    }

            .section-title p::after {
                content: "";
                position: absolute;
                display: block;
                width: 60px;
                height: 2px;
                background: #3d70ff;
                bottom: 0;
                left: calc(50% - 30px);
            }
    .about_bg {
        background-color: #b7caff29;
        padding: 40px;
        border-radius: 20px;
    }

    .about_box_leftpart p {
        font-size: 14px;
    }

    .about_box_leftpart a {
        font-size: 14px;
        font-weight: 700;
    }

        .about_box_leftpart a i {
            display: inline-block;
            transition: 0.3s ease-in;
        }

    .about_box_leftpart i {
        margin-right: 8px;
    }

    .about_box_leftpart a:hover i {
        transform: translateX(50%);
    }
</style>
@code {

}
