@page "/about28watt"

<section class="abt-28watt mt-5 py-5">
    <div class="container">
        <div class="abt-inner">
            <div class="section-title" data-aos="fade-up">
                <p>A quick introduction</p>
                <h2>About 28Watt</h2>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="abt-inner-left">
                        <p>It is our mission to make sustainable home upgrades 
                            as easy as possible and improve Australian homes to an energy efficiency rating of at least seven stars. </p>
                        <p>To achieve this, we need to reduce the average energy consumption to 28kWh per square meter.</p>
                        <p>We are working on this passionately every day, with a team of experts in construction, technology, and sustainability.</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="abt-inner-left">
                        <img src="assets/image/AboutBox.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="process-sec"></section>
<style>
    .abt-inner {
        border-radius: 20px;
        background: #F5F7FB;
        padding:30px
    }
</style>
@code {

}
