@page "/contactus"

<section class="mt-5 py-5 ">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <p>Take the first step to a sustainable home</p>
            <h2>Request a quote</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="cont-left-part">
                    <div class="cont-icon-box d-flex align-items-center">
                        <img src="/assets/image/SpeachBubbles.svg" alt="" class="img-fluid">
                        <p class="mb-0"> Chat with us</p>
                    </div>
                    <div class="cont-icon-box d-flex align-items-center">
                        <img src="/assets/image/Call-Center.svg" alt="" class="img-fluid">
                        <p class="mb-0"> Call us on: 0414 687 130</p>
                    </div>
                    <div class="cont-icon-box d-flex align-items-center">
                        <img src="/assets/image/At-Symbol.svg" alt="" class="img-fluid">
                        <p class="mb-0"> mail to: hello@28watt.com.aus</p>
                    </div>
                    <div class="cont-icon-box d-flex align-items-center">
                        <img src="/assets/image/Whatsapp.svg" alt="" class="img-fluid">
                        <p class="mb-0"> WhatsApp us</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="cont-title">
                    <h4>How can we help you?</h4>
                    <p>Do you have a question about sustainability or do you prefer to speak to us on the phone? 
                        Our energy advisors are available every working day between 9:00 AM and 5:00 PM.
                        You can also send us a message anytime through WhatsApp, chat or email.</p>
                </div>
                <div class="add-part mt-5">
                    <p><b>28watt</b><br>
                        4-12 Buckland Street<br>
                        Chippendale <br>
                        2008, NSW
                    </p>
                </div>
                <div class="number mt-5">
                    <h5 class="mb-3">Other information</h5>
                    <h6>
                        ABN: 41 664 549 535
                    </h6>
                </div>
            </div>
        </div>
    </div>

</section>

@code {

}
<style>

    .cont-icon-box {
        border: 1px solid #D9D9D9;
        padding: 15px 30px;
        border-radius: 10px;
        width: 373px;
        margin-top:15px
    }

        .cont-icon-box:first-child{
            margin-top:0px
        }
    .cont-icon-box img{
        padding-right: 30px
    }

    .cont-title h4{
        font-size: 24px;
        font-weight:700;
        margin-bottom: 30px;
        color: #3D70FF
    }

    .number h5{
        font-size: 16px;
        color: #3D70FF;
        font-weight:700
    }

    .number h6 {
        font-size: 16px;
    }

    .add-part p b {
        font-size: 16px;
    }
    </style>