



<section id="clients" class="clients section-bg mt-5">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Read about the experiences of our customers</h2>
            <p>What our customers say</p>
        </div>
        <div class="row">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="col-md-12">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="col-md-5">
                            <div class="carousel-item active">
                                <div class="slider_bg">
                                    <div class="slider_bg_part">
                                        <div class="star_part">
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                        </div>
                                        <h6>An installation date was quickly arranged</h6>
                                        <p class="text-parafirst"><b>Rob Warnock</b> from Sydney</p>
                                        <p class="text-parasec">
                                            “An appointment was scheduled quickly. Installation was smooth and quick. Very professional and
                                            friendly people. Solar panels work perfectly, and my energy bill is almost $0!”
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="carousel-item">
                                <div class="slider_bg">
                                    <div class="slider_bg_part">
                                        <div class="star_part">
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                            <i class="las la-star checked"></i>
                                        </div>
                                        <h6>Great advice</h6>
                                        <p class="text-parafirst"><b>Abby Watts</b> from Brisbane</p>
                                        <p class="text-parasec">“Great advice, good quality. Very happy with their service!”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
   
    </div>
</section>
<style>
    .carousel-indicators [data-bs-target]{
        background-color: transparent;
        width: 12px;
        height: 12px;
        background-color: #99b3fe;
        opacity: 0.5;
        border-radius: 50px;
    }
  
    .slider_bg {
        /* background-color: #b7caff61; */
        background-color: #b7caff29;
        padding: 30px;
        border-radius: 20px;
        height: 230px;
    }
    .slider_bg_part h6 {
        color: #3D70FF;
        font-weight: 700;
        padding-top: 15px;
    }

    .slider_bg p {
        font-size: 14px;
    }

    .slider_bg .text-parasec {
        font-style: italic;
        margin-bottom: 0;
    }
</style>