<section id="customer" class="customer-slider-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Read about the experiences of our customers</h2>
            <p>What our customers say</p>
        </div>

        <div class="customer-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                    <div class="swiper-slide">
                        <div class="slider_bg">
                            <div class="slider_bg_part">
                                <div class="star_part">
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                </div>
                                <h6>An installation date was quickly arranged</h6>
                                <p class="text-parafirst"><b>Rob Warnock</b> from Sydney</p>
                                <p class="text-parasec">
                                    “An appointment was scheduled quickly. Installation was smooth and quick. Very professional and
                                    friendly people. Solar panels work perfectly, and my energy bill is almost $0!”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide">
                        <div class="slider_bg">
                            <div class="slider_bg_part">
                                <div class="star_part">
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                    <i class="las la-star checked"></i>
                                </div>
                                <h6>Great advice</h6>
                                <p class="text-parafirst"><b>Abby Watts</b> from Brisbane</p>
                                <p class="text-parasec">“Great advice, good quality. Very happy with their service!”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
            </div>
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->

        </div>
    </div>
</section>
<style>
    .customer .customer-slider .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }

    .customer-slider-bg{
        margin-top: 80px;
    }

    .customer .customer-slider .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #99b3fe;
            opacity: 0.5;
        }

    .customer .customer-slider .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #3d70ff;
            opacity: 1;
        }

    .slider_bg {
        background-color: #b7caff29;
        padding: 30px;
        border-radius: 20px;
        height: 230px;
        margin-top: 20px
    }

   

    .slider_bg_part h6 {
        color: #3D70FF;
        font-weight: 700;
        padding-top: 15px;
    }

    .slider_bg p {
        font-size: 14px;
    }

    .slider_bg .text-parasec {
        font-style: italic;
        margin-bottom: 0;
    }
</style>
@code {

}
