<section id="faq" class="faq section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Clear and transparent</h2>
            <p>Frequently asked questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                    Is 28Watt independent?<i class="bi bi-dash-lg"></i><i class="bi bi-plus-lg"></i>
                </div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, officiis illo. Autem corrupti enim
                        cumque dicta. Doloribus, facere nostrum laboriosam nam blanditiis iusto, magnam dicta, eius quia
                        officiis perspiciatis. Saepe.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                    How do you create quality advice
                    online without actually seeing my home?<i class="bi bi-dash-lg"></i><i class="bi bi-plus-lg"></i>
                </div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, consequatur error nulla quis est
                        tempora inventore asperiores expedita quas quos dolore perferendis accusantium reprehenderit accusamus
                        cum ratione delectus magni porro!
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                    Will someone visit my home before the
                    installation of the upgrade?<i class="bi bi-dash-lg"></i><i class="bi bi-plus-lg"></i>
                </div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, iste harum laboriosam tempore perspiciatis
                        recusandae accusamus optio laborum. Facilis adipisci veniam dolor similique recusandae dolorum
                        doloremque commodi quas cumque tempore.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                    Is it cheaper to purchase directly
                    from the contractor?<i class="bi bi-dash-lg"></i><i class="bi bi-plus-lg"></i>
                </div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nisi nesciunt corporis, beatae itaque
                        sequi facere animi doloribus aliquid, maiores eveniet quisquam. Quis impedit dolore nam repellendus
                        dolor inventore nisi.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
                    Is my purchase guaranteed by
                    28Watt?<i class="bi bi-dash-lg"></i><i class="bi bi-plus-lg"></i>
                </div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cupiditate impedit. Inventore aliquam
                        iusto, fuga aliquid blanditiis ab aut laborum a ipsa, dolor officia provident ipsum reiciendis
                        consequatur illo ut?
                    </p>
                </div>
            </li>
        </ul>

    </div>
</section>
<style>
    .faq {
        padding: 60px 0;
    }

        .faq .faq-list {
            padding: 0;
            list-style: none;
        }

            .faq .faq-list li {
                border-bottom: 1px solid #eae7e5;
                margin-bottom: 20px;
                padding-bottom: 20px;
            }

            .faq .faq-list .question {
                display: block;
                position: relative;
                font-family: #3D70FF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                font-weight: 600;
                padding-left: 25px;
                cursor: pointer;
                color: #3D70FF;
                transition: 0.3s;
            }

            .faq .faq-list i {
                font-size: 16px;
                position: absolute;
                left: 0;
                top: -2px;
            }

            .faq .faq-list p {
                margin-bottom: 0;
                padding: 10px 0 0 25px;
                font-size: 14px;
            }

            .faq .faq-list .bi-plus-lg {
                display: none;
            }

            .faq .faq-list .collapsed {
                color: #343a40;
            }

                .faq .faq-list .collapsed:hover {
                    color: #3D70FF;
                }

                .faq .faq-list .collapsed .bi-plus-lg {
                    display: inline-block;
                    transition: 0.6s;
                }

                .faq .faq-list .collapsed .bi-dash-lg {
                    display: none;
                    transition: 0.6s;
                }

</style>

@code {

}
