<footer id="footer">

    <div class-b="footer_cust_rate">
        <div class="foot_top_bg text-white">
            <div class="container">
                <div class="foot_top_part">
                    <div class="foot_logo_part">
                        <div class="foot-logo">
                            <a href="index.html"><img src="/assets/image/28wattfooterlogo.png" alt="" class="img-fluid"></a>
                            <p class="pt-3 m-0">Home improvements, improved</p>
                        </div>
                    </div>
                    <div class="foot_logo_rightpart">
                        <p class="fw-bold">Our customers rate us 4.4/5 on Google reviews</p>
                        <i class="las la-star checked"></i>
                        <i class="las la-star checked"></i>
                        <i class="las la-star checked"></i>
                        <i class="las la-star checked"></i>
                        <i class="las la-star-half-alt checked"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-links">
                        <h4>Out Products</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Solar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Heat pumps</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hot water</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Double glazing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">EV Charger</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-links">
                        <ul class="pt-3">
                            <li class="mt-4"><i class="bx bx-chevron-right"></i> <a href="#">Floor insulation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Roof insulation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Wall insulation</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Air sealing</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-links text-white foot_con_bg">
                        <h3>How can we help?</h3>
                        <p>Our home upgrade experts are happy to help. They are available everyday to answer your questions</p>
                        <div class="foot_cont_dflex">
                            <div class="footer_cont_deta mt-3">
                                <ul>
                                    <li>Direct online help</li>
                                    <li>0414 687 130</li>
                                    <li>info@28watt.com.au</li>
                                    <li>Whatsapp us</li>
                                </ul>
                            </div>
                            <div class="foot_cont_deta_img">
                                <img src="/assets/image/Finances.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 footer-links">
                        <h4>All about sustainability</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Knowledge resources</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-links footer-links-res">
                        <h4>About 28Watt</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About usfbghdfx</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4 foot-bot">
            <div class="foot-boot-part-text">
                <div class="foot-boot-left">
                    <div class="copy-text">
                        <p class="mb-0">&copy; 28Watt pty ltd 2023</p>
                    </div>
                    <div class="copyright">
                        <ul class="p-0 mb-0">
                            <li>Terms & conditions</li>
                            <li>Privacy</li>
                            <li>Cookies</li>
                        </ul>
                    </div>
                </div>
            
                <div class="footsoc_links">
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                </div>
            </div>
           
        </div>
    </div>
</footer>
<style>
    #footer {
        color: #212529;
        font-size: 14px;
    }
  
        #footer .footer_cust_rate {
            text-align: center;
            font-size: 15px;
        }

            #footer .footer_cust_rate h4 {
                font-size: 24px;
                margin: 0 0 20px 0;
                padding: 0;
                line-height: 1;
                font-weight: 600;
                color: #4e4039;
            }

            #footer .footer_cust_rate form {
                margin-top: 30px;
                background: #fff;
                padding: 6px 10px;
                position: relative;
                border-radius: 4px;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                text-align: left;
            }

                #footer .footer_cust_rate form input[type=email] {
                    border: 0;
                    padding: 4px 4px;
                    width: calc(100% - 100px);
                }

                #footer .footer_cust_rate form input[type=submit] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border: 0;
                    background: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background: #eb5d1e;
                    color: #fff;
                    transition: 0.3s;
                    border-radius: 4px;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                }

                    #footer .footer_cust_rate form input[type=submit]:hover {
                        background: #c54811;
                    }

        #footer .footer-top {
            padding: 30px 0 30px 0;
            background: #0A142F;
        }

            #footer .footer-top .footer-contact {
                margin-bottom: 30px;
            }

                #footer .footer-top .footer-contact h4 {
                    font-size: 22px;
                    margin: 0 0 30px 0;
                    padding: 2px 0 2px 0;
                    line-height: 1;
                    font-weight: 700;
                }

                #footer .footer-top .footer-contact p {
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 0;
                    font-family: "Raleway", sans-serif;
                    color: #5c5c5c;
                }

            #footer .footer-top h4 {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                position: relative;
                padding-bottom: 12px;
            }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 2px;
                    color: #FFF;
                    font-size: 18px;
                    line-height: 1;
                }

                #footer .footer-top .footer-links ul li {
                    padding: 7px 0;
                    display: flex;
                    align-items: center;
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0;
                    }

                #footer .footer-top .footer-links ul a {
                    color: #fff;
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;
                }

                    #footer .footer-top .footer-links ul a:hover {
                        text-decoration: none;
                        color: #3D70FF;
                    }

            #footer .footer-top .social-links a {
                font-size: 18px;
                display: inline-block;
                background: #eb5d1e;
                color: #fff;
                line-height: 1;
                padding: 8px 0;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;
            }

                #footer .footer-top .social-links a:hover {
                    background: #ef7f4d;
                    color: #fff;
                    text-decoration: none;
                }

        #footer .copyright {
    padding-left: 50px
        }

            #footer .copyright ul li {
                display: inline-block;
                margin-right: 50px;
                font-size: 12px;
                line-height: 30px;
            }

    .foot_top_part {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .foot_top_part .foot_logo_part {
            text-align: start;
        }

        .foot_top_part .foot_logo_rightpart {
            text-align: end;
        }

    .foot_top_bg {
        background-color: #0a142fb0;
        padding: 25px 0;
        font-size: 14px;
    }

    .checked {
        color: #FFAA05;
    }

    .foot_cont_dflex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .foot_cont_deta_img {
        background-color: #fff;
        border-radius: 100px;
    }

        .foot_cont_deta_img img {
            width: 100px;
        }

    .foot_con_bg {
        background-color: #3B3E46;
        border-radius: 10px;
        padding: 20px;
    }

    .foot_cont_deta_img img {
        width: 100%;
    }

    #footer .footsoc_links {
       
        font-size: 13px;
        color: #212529;
    }

        #footer .footsoc_links a {
            color: #000;
            font-size: 16px;
            border: 1px solid #b3b0b0;
            border-radius: 50px;
            padding: 2px 5px;
            margin-left: 5px;
        }

    .foot-boot-part-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .foot-boot-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
@code {

}