
<header class="navbar navbar-expand-lg  header fixed-top" id="Header">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="/assets/image/28wattlogo.png" alt="" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="las la-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#hero">About 28Watt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pumpandwater">Our products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sustainable home upgrades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<style>
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    .navbar .navbar-brand {
        padding-left: 0;
    }

    .navbar-toggler {
        background: #212529;
        border-color: #212529;
        color: #fff;
        font-size: 16px
    }

        .navbar-toggler i {
            color: #fff;
        }
    .header {
        transition: all 0.5s;
        z-index: 997;
        transition: all 0.5s;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

        .header .logo img {
            padding: 0;
            margin: 0;
            max-height: 40px;
        }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: flex-start;
        }

        .navbar a:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > a {
            color: #3D70FF;
        }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 10px 30px;
            font-size: 14px;
            color: #000;
            white-space: nowrap;
            transition: 0.3s;
            font-weight: 600;
        }

</style>


@code {

}
