@page "/pumpandwater"

<section class="step-3">
    <div class="container">
        <form action="">
            <div class="row pumpwater-sec">
                
                <div class="top-img">
                    <img src="assets/image/equp.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="eqp-side-box ">
                        <div class="your-eqp-box-bg boxfixed">
                            <h5>Equipment</h5>
                            <p class="mb-0"><b>260 L heat pump hot water system</b></p>
                            <ul class="p-3 mb-0">
                                <li>Full installation of solar system</li>
                                <li>25 year solar system warrantly on parts/labor</li>
                                <li>Price includes all fees & taxes</li>
                            </ul>
                            <div class="pay-box">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Cash
                                    </label>
                                </div>
                                <div class="form-check form-check-inline form-check-inline-res">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Financing
                                    </label>
                                </div>
                            </div>
                            <div class="per-watt-price py-3">
                                <span>$6496 </span>
                            </div>
                            <p class="text">After government rebates $2304</p>
                            <div class="price-box-eqp d-flex align-items-center justify-content-between fw-bold price-box-eqp-res">
                                <div class="pri-box-left">
                                    <p class="mb-0">Due today</p>
                                </div>
                                <div class="pri-box-right">
                                    <span class="dis">$100</span>
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="mt-4 goals-form-btn">
                                <a href="thank-you-page.html" class="btn btn-primary w-100"><i class="bi bi-arrow-right"></i>Request final quote</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="advice-right-part">
                        <div class="water-box-bg">
                            <div class="title">
                                <h5>Your hot water system design</h5>
                                <p>We recommend a  <span>260 L</span>  integrated heat pump hot water system for   <span>34 Sir Thomas Mitchell Road</span>  to cover your hot water consumption.</p>
                            </div>
                            <div class="water-box-bg-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="water-box-left">
                                            <img src="assets/image/your-home.png" alt="" class="img-fluid w-100">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="water-box-right d-flex align-items-center justify-content-between">
                                            <div class="box-info-left">
                                                <p>System size</p>
                                                <p>Suitable for household size</p>
                                                <p>Annual energy bill savings</p>
                                                <p>Pay-back period</p>
                                            </div>
                                            <div class="box-info-right">
                                                <p><b>260 L</b></p>
                                                <p><b>3 - 6 people</b></p>
                                                <p><b>$883</b></p>
                                                <p><b>5.1 Year</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="water-box-bg mt-4">
                            <div class="title-sec text-center">
                                <p class="fw-bold">Our advice for your hot water system</p>
                                <h5 class="fw-bold">Equipment selection</h5>
                            </div>
                            <div class="cate-part pt-4">
                                <p><b>Hot water system</b></p>
                                <div class="cate-select position-relative">
                                    <div class="cate-select-part">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Dux Airoheat - 260 L</option>
                                            <option value="1">Dux Airoheat - 567 L</option>
                                            <option value="2">Dux Airoheat - 786 L</option>
                                            <option value="3">Dux Airoheat - 590 L</option>
                                        </select>
                                    </div>
                                    <div class="badge-part-bg">
                                        <span>Recommended</span>
                                    </div>
                                </div>
                                <div class="row align-items-start justify-content-between pt-5 cate-img-part">
                                    <div class="col-md-6">
                                        <div class="cate-inner-left">
                                            <img src="assets/image/eqp-selection.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cate-inner-left">
                                            <ul class="list-unstyled">
                                                <li><i class="las la-check"></i>Most popular</li>
                                                <li><i class="las la-check"></i>Extremely energy efficient</li>
                                                <li><i class="las la-check"></i>Works in cold weather</li>
                                                <li><i class="las la-check"></i>Low noise levels</li>
                                                <li><i class="las la-check"></i>Integrated heat pump</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="water-box-bg mt-4">
                            <div class="title-sec text-center">
                                <p class="fw-bold">Hot water system for 34 Sir Thomas Mitchell Street</p>
                                <h5 class="fw-bold">Your quote</h5>
                                <div class="pay-box pt-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Cash
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Financing
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="serv-info d-flex align-items-start justify-content-between pt-5">
                                <div class="ser-inne-part">
                                    <h6 class="fs-6 fw-bold">260 L heat pump hot water system</h6>
                                    <ul>
                                        <li>Full installation of solar system</li>
                                        <li>25 year solar system warrantly on parts/labor</li>
                                        <li>Price includes all fees & taxes</li>
                                    </ul>
                                </div>
                                <div class="ser-price">
                                    <span class="fw-bold">$6,800</span>
                                </div>
                            </div>
                            <div class="serv-info d-flex align-items-start justify-content-between pt-3">
                                <div class="ser-inne-part">
                                    <h6 class="fs-6 fw-bold">28Watt service</h6>
                                    <ul>
                                        <li>End-to-end support</li>
                                        <li>10% off on all future products/services (battery, insulation etc.)</li>
                                        <li>Additional benefits will be covered during the onboarding call</li>
                                    </ul>
                                </div>
                                <div class="ser-price">
                                    <span class="fw-bold">(Included)</span>
                                </div>
                            </div>
                            <div class="serv-info d-flex align-items-start justify-content-between py-3 last-ser-info">
                                <div class="ser-inne-part">
                                    <h6 class="fs-6 fw-bold">Government rebates</h6>
                                </div>
                                <div class="ser-price">
                                    <span class="fw-bold">- $2,304</span>
                                </div>
                            </div>
                            <div class="quote-price pt-3">
                                <span class="fw-bold">$4,496 </span>
                            </div>
                            <div class="price-box-eqp d-flex align-items-center justify-content-between fw-bold mt-3 ">
                                <div class="pri-box-left">
                                    <p class="mb-0">Due today</p>
                                </div>
                                <div class="pri-box-right">
                                    <span class="dis">$100</span>
                                    <span>$0.00</span>
                                </div>
                            </div>
                            <div class="mt-4 goals-form-btn">
                                <a href="thank-you-page.html" class="btn btn-primary w-100"><i class="bi bi-arrow-right"></i>Request final quote</a>
                            </div>
                        </div>
                        <div class="water-box-bg mt-4">
                            <div class="title-sec text-center">
                                <p class="fw-bold">The steps towards a more sustainable home</p>
                                <h5 class="fw-bold">The next steps</h5>
                            </div>
                            <div class="next-steps">
                                <div class="step d-flex align-items-start pt-4">
                                    <div class="step-img">
                                        <img src="assets/image/step-1.png" alt="" class="img-fluid mr-5">
                                    </div>
                                    <div class="step-text">
                                        <h6 class="fs-6 fw-bold">1. Request a final quote</h6>
                                        <p>
                                            You request a final quote by answering additional questions and uploading photos.
                                            The contractor uses this to prepare for the inspection.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="next-steps">
                                <div class="step d-flex align-items-start pt-4">
                                    <div class="step-img">
                                        <img src="assets/image/Cad-Pencil.png" alt="" class="img-fluid mr-5">
                                    </div>
                                    <div class="step-text">
                                        <h6 class="fs-6 fw-bold">2. A quick call to discuss your preferences</h6>
                                        <p>
                                            You request a final quote by answering additional questions and uploading photos.
                                            The contractor uses this to prepare for the inspection.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="next-steps">
                                <div class="step d-flex align-items-start pt-4">
                                    <div class="step-img">
                                        <img src="assets/image/Document-File.png" alt="" class="img-fluid mr-5">
                                    </div>
                                    <div class="step-text">
                                        <h6 class="fs-6 fw-bold">3. Receive your final quote</h6>
                                        <p>
                                            You request a final quote by answering additional questions and uploading photos.
                                            The contractor uses this to prepare for the inspection.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="next-steps">
                                <div class="step d-flex align-items-start pt-4">
                                    <div class="step-img">
                                        <img src="assets/image/Design.png" alt="" class="img-fluid mr-5">
                                    </div>
                                    <div class="step-text">
                                        <h6 class="fs-6 fw-bold">4. Professional installation</h6>
                                        <p>
                                            You request a final quote by answering additional questions and uploading photos.
                                            The contractor uses this to prepare for the inspection.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="step-bottom-bg">
                                <h6 class="fw-bold fs-6">Ready for the next step?</h6>
                                <p class="mb-0">
                                    Get a free, no-obligation quote from your contractor.
                                    Answer a few final questions and upload two photos to get started.
                                </p>
                                <div class="mt-4 goals-form-btn pt-2">
                                    <a href="thank-you-page.html" class="btn btn-primary"><i class="bi bi-arrow-right"></i>Request final quote</a>
                                </div>
                            </div>

                        </div>
                        <Faqs @rendermode="@RenderMode.InteractiveServer"></Faqs>
                    </div>

                </div>
            </div>
        </form>
    </div>

</section>
<style>
   
    .pumpwater-sec{
        margin-top: 130px;
    }
    .your-eqp-box-bg {
        background-color: #fff;
        padding: 90px 30px 30px 30px;
        border-radius: 20px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

        .your-eqp-box-bg .yr-home-bx-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .your-eqp-box-bg-part h5 {
        font-size: 24px;
        font-weight: 700;
    }

    .top-img {
        position: absolute;
        top: 94px;
        left: 214px;
        z-index: 1;
    }

    .step-3 .col-md-4 {
        position: relative;
    }

    .eqp-side-box h5 {
        font-size: 24px;
        font-weight: 700;
    }

    .pay-box .form-check-inline {
   
        border: 1px solid #D9D9D9;
        padding: 5px 30px;
        border-radius: 10px;
        font-weight: 700;
    }

        .pay-box .form-check-inline:last-child{
            margin-right: 0
        }

    .pay-box .form-check-input {
        width: 10px;
        height: 10px;
        margin-top: 6px;
    }

    .pay-box .form-check-input {
        width: 10px;
        height: 10px;
        margin-top: 6px;
    }

    .per-watt-price span {
        font-size: 24px;
        font-weight: 700;
    }

    .your-eqp-box-bg ul li {
        color: rgba(0, 0, 0, 0.75);
    }

    .your-eqp-box-bg .text {
        color: rgb(0 0 0 / 75%);
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 15px;
    }

    .price-box-eqp {
        background-color: rgb(61 112 255 / 17%);
        border-radius: 5px;
        padding: 10px;
        color: #3D70FF;
    }

    .pri-box-right span:last-child {
        padding-left: 10px;
    }

    .pri-box-right .dis {
        color: rgba(61, 112, 255, 0.53);
    }

    .water-box-bg {
        border-radius: 20px;
        background: #FFF;
        box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
        padding: 30px;
    }

        .water-box-bg .title h5 {
            font-size: 32px;
            font-weight: 700;
        }

        .water-box-bg .title span {
            color: #3D70FF;
            font-weight: 700;
        }

        .water-box-bg .title-sec p {
            color: #3D70FF;
            font-size: 20px;
        }

        .water-box-bg .title-sec h5 {
            font-size: 40px;
        }

    .cate-part p {
        font-size: 16px;
    }

    .cate-select .form-select {
        border: 1px solid #888;
        font-size: 14px;
        width: 50%;
    }

    .badge-part-bg {
        border-radius: 20px;
        background: #E3FFE9;
        color: #47AF67;
        display: inline-block;
        padding: 3px 5px;
        font-size: 10px;
        position: absolute;
        top: 7px;
        left: 210px;
    }

    .cate-inner-left ul li {
        margin-bottom: 10px;
    }

    .cate-inner-left ul li {
        margin-bottom: 10px;
    }

        .cate-inner-left ul li i {
            padding-right: 10px;
            color: #47AF67;
            font-weight: 700;
            font-size: 16px
        }

    .ser-inne-part ul {
        padding: 10px 0 0 17px;
    }

        .ser-inne-part ul li {
            color: rgba(0, 0, 0, 0.75);
        }

    .ser-price {
        color: rgba(61, 112, 255, 1);
    }

    .quote-price {
        text-align: end;
        border-top: 1px solid rgba(217, 217, 217, 1);
        font-size: 32px;
    }

    .step .step-img img {
        padding-right: 20px;
        width: 60px;
    }

    .step-bottom-bg {
        border-radius: 10px;
        background: #F5F7FB;
        padding: 20px;
    }

    .cate-inner-left ul li:last-child {
        margin-bottom: 0
    }
 
  

</style>

@code {

}

