<section id="howworks">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Your assistant to a sustainable home</h2>
            <p>This is how 28Watt works</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="works_box_img_part">
                    <img src="assets/image/howworksstpone.jpg" alt="" class="img-fluid">
                </div>
                <div class="works_box_text_part">
                    <div class="step_bg">
                        <span>1</span>
                    </div>
                    <h6>Advice and quote</h6>
                    <p>
                        You can complete the home scan within 3 minutes. We create a model of your house online and calculate tailor-made advice to make your house more sustainable, including actual prices, savings and government rebates.
                        Select your product and request a free, no-obligation quote immediately.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works_box_img_part">
                    <img src="assets/image/howworksstptwo.jpg" alt="" class="img-fluid">
                </div>
                <div class="works_box_text_part">
                    <div class="step_bg">
                        <span>2</span>
                    </div>
                    <h6>Inspection</h6>
                    <p>
                        Are you happy with the quote?
                        Our installer will perform a final check at your home for most products, ensuring tailor-made solutions.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works_box_img_part">
                    <img src="assets/image/howworksstpthree.jpg" alt="" class="img-fluid">
                </div>
                <div class="works_box_text_part">
                    <div class="step_bg">
                        <span>3</span>
                    </div>
                    <h6>Professional installation</h6>
                    <p>
                        You can choose a convenient installation date and
                        we will ensure that your sustainable product is installed within a day.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
  
    .works_box_text_part .step_bg {
        background-color: #000;
        padding: 10px;
        border-radius: 50px;
        color: #fff;
        width: 40px;
        text-align: center;
    }

    .works_box_text_part h6 {
        margin: 15px 0;
        font-size: 16px;
        color: #3D70FF;
        font-weight: 700;
    }

    .works_box_img_part {
        text-align: center;
    }

    section#howworks {
        padding-top: 340px;
    }
</style>

@code {

}
