<section class="mt-5">
    <div class="container request-bg">

        <div class="section-title" data-aos="fade-up">
            <h2>Take the first step to a sustainable home</h2>
            <p>Request a quote</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="requ-left-part">
                    <h6><b>I am not sure where to get started</b></h6>
                    <p>
                        Are you looking to make your home more sustainable but don’t know where to begin? Start with our home scan.
                        This will help you discover the next steps to a sustainable home in just 3 minutes.
                    </p>
                    <div class="requ-left-part-btn">
                        <a href="" class="btn btn-outline-primary rounded-pill"><i class="bi bi-arrow-right"></i>Start home scan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="requ-right-part">
                    <img src="assets/image/solar-installer-adelaide.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .request-bg {
        background-color: #F2F2F2;
        padding: 40px;
        border-radius: 20px;
    }

    .requ-left-part h6 {
        font-size: 14px;
    }

    .requ-left-part p {
        font-size: 14px;
    }

    .requ-left-part-btn i {
        margin-right: 8px;
    }

    .requ-left-part-btn a {
        font-size: 14px;
        font-weight: 700;
    }

    .request-bg h2 {
        margin-top: 10px;
    }

    .requ-right-part img {
        float: right;
    }

    .requ-left-part-btn a i {
        display: inline-block;
        transition: 0.3s ease-in;
    }

    .requ-left-part-btn a:hover {
        background-color: transparent;
        color: #0d6efd;
    }

        .requ-left-part-btn a:hover i {
            transform: translateX(50%);
            color: #0d6efd;
        }
</style>
@code {

}
