body {
    ul li
{
    font-size: 13px;
}
p{
    font-size: 13px !important;
    margin-bottom: 10px;
  
}
article.content {
    padding: 0 !important;
}
@media (max-width: 360px) {
    .home_sec-bootom-box_bg {
        margin-top: 434px;
    }
}
@media (min-width: 361px) and (max-width: 575px) {
    .home_sec-bootom-box_bg {
        margin-top: 414px;
    }
}
@media (max-width: 575px) {
    /*header*/
    .navbar-brand img {
        width: 100px;
    }

    .navbar-toggler {
        font-size: 16px
    }

    .cate-select-part {
        width: 100% !important;
    }
    /*footer*/
    .copyright {
        flex-direction: column;
        align-items: start !important;
    }

    .your-eqp-box-bg h5 {
        font-size: 18px;
    }

    .your-eqp-box-bg .text {
        padding-bottom: 7px;
    }

    .step .step-img img {
        padding-right: 10px;
        width: 100px;
    }

    .title-sec .pay-box {
        padding-top: 10px !important
    }

    .step:first-child {
        padding-top: 10px !important
    }

    .quote-price {
        padding-top: 0 !important;
        line-height: 35px;
    }

        .quote-price span {
            font-size: 18px;
        }

    .foot-logo img {
        width: 100px;
    }

    .per-watt-price span {
        font-size: 18px;
    }

    .price-box-eqp {
        margin-top: 10px !important
    }

    .goals-form-btn {
        margin-top: 15px !important
    }

        .goals-form-btn a {
            font-size: 12px;
        }

    label {
        cursor: default;
    }

    .serv-info-res {
        padding-top: 20px !important
    }

    .ser-inne-part ul {
        margin-bottom: 0 !important
    }

    .ser-inne-part h6 {
        margin-bottom: 0 !important
    }

    .cate-part {
        padding-top: 10px !important
    }

    .cate-img-part {
        padding-top: 10px !important;
    }

    .fq-section-bg .section-title {
        padding-bottom: 10px
    }

    .top-img img {
        width: 110px;
    }

    .your-eqp-box-bg ul {
        padding-top: 10px !important;
    }

    .per-watt-price {
        padding: 10px 0 !important;
    }

    .water-box-right {
        padding-top: 10px;
        font-size: 13px;
        width: 100%;
    }

    .cate-img-part {
        padding-top: 10px !important;
    }

    .fq-section-bg .section-title {
        padding-bottom: 10px
    }

    .badge-part-bg {
        font-size: 8px;
    }

    .water-box-bg .title h5 {
        font-size: 20px;
    }

    .water-box-bg .title-sec h5 {
        font-size: 24px;
    }

    .serv-info:first-child {
        padding-top: 0 !important
    }

    /*home*/
    /*#hero .container {
        padding: 0
    }*/

    .home_bg_img {
        height: 307px;
        border-radius: 0
    }

        .home_bg_img .home_bg_text {
            top: 23px;
            left: 25px;
        }

        .home_bg_img h3 {
            font-size: 28px;
        }

    .home_form_part_bg {
        width: 349px;
        height: 552px;
        padding: 20px;
        top: 179px;
        left: 14px;
    }

    .form_top_part h4 {
        font-size: 16px;
    }

    .form_top_part ul li {
        font-size: 12px;
    }

    .home_form_sec .form-group:first-child {
        margin-top: 0 !important;
    }

    .home_form_sec .form-control {
        height: 31px;
    }

    .home_form_sec input {
        font-size: 12px;
    }

    .home_form_sec .check-label {
        padding: 10px 0 18px 0;
    }

    .home_form_sec .row {
        margin-bottom: 10px !important
    }

    .form-bottom-text {
        padding-top: 10px !important
    }

    .about_box_leftpart {
        padding-top: 15px;
    }

    .about_bg .row {
        flex-direction: column-reverse;
    }

    .about_bg .col-md-3 img {
        width: 100%
    }

    .about_box_leftpart a {
        width: 100%
    }

    .home_form_part_bg {
        width: 92% !important;
        left: 4% !important;
    }

    .home_bg_img .home_bg_text {
        padding: 30px 4% 0 4% !important;
    }

    .home_bg_img h3 {
        font-size: 28px !important;
    }

    .home_form_part_bg {
        top: 200px !important;
    }
    .home_sec-bootom-box_bg {
        width: 93%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .request-bg .row {
        flex-direction: column-reverse;
    }
    .requ-left-part {
        padding-top: 15px;
    }
    .request-bg .requ-right-part img {
        width: 100%;
    }
    .requ-left-part-btn a{
        width: 100%
    }
}
@media (min-width:576px) and (max-width:767px) {
    .pumpwater-sec .col-md-4 {
        width: 100%
    }
    .cate-select .form-select {
        width: 100% !important;
    }
    .step .step-img img {
        width: 80px !important;
    }
    .home_form_part_bg {
        top: 220px !important;
    }
    .home_sec-bootom-box_bg {
        margin-top:320px !important;
    }
}
@media (max-width:767px) {
    .water-box-bg {
        margin-top: 20px !important;
        padding: 20px;
    }

    .foot-boot-part-text {
        flex-direction: column-reverse;
    }

    .foot-boot-left {
        flex-direction: column-reverse;
    }

    #footer .copyright {
        padding-left: 0 !important;
    }

        #footer .copyright ul li {
            margin-right: 10px !important;
        }

            #footer .copyright ul li:last-child {
                padding-right: 0 !important;
            }

    .footsoc_links a:first-child {
        margin-left: 0 !important;
    }

    .footer-links h4 {
        padding-bottom: 5px !important
    }
    .footer-links:nth-child(2) ul{
        padding-top: 0 !important
    }
    .footer-links:nth-child(2) ul li:first-child{
        margin-top: 5px !important
    }
    #footer .footer-top .footer-links ul li {
        padding: 5px 0;
    }
    .foot_con_bg {
        margin: 15px 0 
    }
    .foot_con_bg {
        padding: 15px;
    }
    .foot_cont_deta_img img{
        width: 90px
    }
    .pumpwater-sec {
        margin-top: 110px !important;
    }
    .footer-links-res {
        padding-top: 10px
    }
    .faq {
        padding : 0 !important
    }
    .foot_top_bg {
        padding: 20px 0;
    }
    .foot_con_bg h3 {
        font-size: 18px
    }
    .your-eqp-box-bg {
        padding-top: 0 !important;
    }
    .cate-select-part .form-select {
        font-size: 10px
    }
    section#hero {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .home_bg_img {
        border-radius:0;
    }
    .home_bg_img .home_bg_text {
        position: inherit;
        top: inherit;
        left: inherit;
        padding: 40px 5% 0 5%;
    }
    .home_bg_img h3 {
        font-size:35px;
    }
    .start-part  {
        display: block;
    }
        .start-part i:first-child {
            padding-left:0;
        }
}
@media (min-width:768px) {
    .eqp-side-box {
        position: sticky;
        top: 135px;
        margin-bottom: 20px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .top-img img {
        width: 100px;
    }

    .your-eqp-box-bg {
        padding: 0 20px 20px 20px !important;
    }
    .eqp-side-box h5 {
        font-size: 20px !important;
    }
    .step .step-img img {
        padding-right: 10px !important;
        width: 90px !important;
    }
    .pay-box .form-check-inline-res:last-child {
        margin-top: 10px;
    }
    .per-watt-price {
        padding: 10px 0px 5px 0 !important;
    }
    .goals-form-btn a {
        font-size: 12px !important
    }
    .price-box-eqp-res {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .water-box-bg .title h5 {
        font-size: 26px !important;
    }
    .water-box-bg .title-sec h5 {
        font-size: 28px !important;
    }
    .water-box-bg {
        padding: 20px !important;
    }
    .cate-part {
        padding-top: 10px !important
    }
    .cate-select .form-select {
        width: 100% !important
    }

    .cate-img-part {
        padding-top: 25px !important
    }
    .pay-box {
        padding-top: 0px !important
    }
    .serv-info:first-child {
        padding-top: 0px;
    }
   
    .cate-select-part {
        width: 100% !important;
    }
    /*footer*/
    #footer .footer-top h4 {
        padding-bottom: 0px;
        min-height: 37px;
    }
    .foot_con_bg h3{
        font-size: 22px;
    }
    .foot_cont_deta_img img {
        width: 90px;
    }
    #footer .footer-top .footer-links ul li {
        padding: 5px 0;
    }



    /*home*/
    .home_sec-bootom-box_bg {
        width: 87%;
        margin-top: 204px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .home_form_part_bg {
        width: 67%;
        left: 152px;
        top: 250px;
    }
 
}

@media (max-width:991px) {
  
    #hero .container {
        padding: 0;
    }
 /*   .home_sec-bootom-box_bg {
        width: 93%;
        margin-top: 393px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }*/
    .home_sec-bootom-box_bg ul {
        margin-bottom:0;
    }
    section#howworks {
        padding-top:50px;
    }
    .home_form_part_bg {
        height:auto;
    }
    .about_bg {
        padding: 20px;
    }
    .section-title {
        padding-bottom: 5px;
    }

        .section-title h2 {
            font-size: 24px;
        }
        .section-title p {
            margin-bottom: 10px;
        }
    .request-bg {
        padding: 20px;
    }
}

@media (min-width: 992px) and (max-width:1199px) 

{
    .cate-select .form-select {
        width: 100% !important
    }
    .step .step-img img {
        padding-right: 15px !important;
        width: 80px !important;
    }
    .pay-box .form-check-inline-res:last-child {
        margin-top: 10px;
    }
    .water-box-bg .title h5 {
        font-size: 28px;
    }
    .water-box-bg .title-sec h5 {
        font-size: 34px;
    }
    .home_form_part_bg {
        top: 252px;
        left: 80px;
        width: 547px;
        height: 575px;
    }
    .home_sec-bootom-box_bg {
        width:320px;
    }
    .home_bg_img .home_bg_text {
        position: absolute;
        top: 52px;
        left: 52px;
    }
}
@media (min-width:1200px) {
}

@media (min-width:1200px) and (max-width:1299px){
    .home_form_part_bg {
        left: 140px;
    }
    .home_sec-bootom-box_bg {

    }
}










